* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.notice{
    margin: 10px 0;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
}
.error_notice{
    margin: 10px 0;
    color: red;
    width: 100%;
    text-align: center;
}
.success_notice{
    margin: 10px 0;
    color: green;
    width: 100%;
    text-align: center;
}
.search {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
}
.search form input {
    width: 500px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
}
.search button {
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #833c0d;
    color: white;
    transition: all 0.6s ease;
}
.search button:hover {
    background-color: #e65c00;
    cursor: pointer;
}
.category {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.category a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    color: #333;
    background-color: #f8f8f8;
    padding: 10px;
    transition: all 0.6s ease;
}
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 36px;
    color: #333;
}
.header {
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    margin-bottom: 15px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.header .logo {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-right: 15px;
    cursor: pointer;
}
.header .nav {
    display: flex;
    align-items: center;
}
.header .nav .icon {
    margin-left: 15px;
}
.header .nav .icon ion-icon {
    color: #f8d743;
    font-size: 24px;
    vertical-align: middle;
}
.header .nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-left: 5px;
    transition: all 0.5s ease;
}
.header .nav a:hover {
    background-color: transparent;
}
.header .nav a img.profile_pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-left: 15px;
    object-fit: cover;
}
.banner {
    width: 100%;
    height: 83vh;
    background-image: url('../images/usages/upscalemedia-transformed.jpeg');
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    position: relative;
}
.banner .banner_text {
    position: absolute;
    bottom: 150px;
    left: 50px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.banner .banner_text h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.banner .banner_text p {
    font-size: 20px;
    max-width: 600px;
}
.banner .banner_text .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.6s ease;
}
.banner .banner_text .btn:hover {
    background-color: #e65c00;
    border: 1px solid #fff;
    cursor: pointer;
}
.items {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px 0;
}
.items .item {
    width: 23%;
    height: 65vh;
    margin: 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}
.items .item:hover {
    transform: scale(1.05);
}
.items .item img {
    width: 100%;
    height: 70%;
    object-fit: contain;
}
.items .item h2.item_name {
    padding: 10px;
    font-size: 20px;
    color: #333;
}
.items .item p.item_price {
    padding: 0 10px;
    font-size: 18px;
    color: #9b1a1a;
}
.items .item form button.btn1 {
    display: inline-block;
    padding: 5px;
    background-color: #833c0d;
    color: #fff;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.6s ease;
}
.items .item form button.btn1:hover {
    background-color: #e65c00;
    border: 1px solid #fff;
    cursor: pointer;
}
.footer {
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.footer .col a {
    margin: 10px;
    display: block;
    text-decoration: none;
    color: #333;
}
.footer .col a:hover {
    background-color: transparent;
}
.footer p {
    text-align: center;
    color: #666;
    margin-top: 10px;
}
/* form */
form.form_container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
form.form_container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
form.form_container input, form.form_container select {
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
}
form.form_container textarea {
    width: 100%;
    height: 100px;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
    outline: none;
}
form.form_container button {
    padding: 10px;
    background-color: #1714b1;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form.form_container button:hover {
    background-color: #0d0b7a;
}
.note {
    text-align: center;
    margin: 15px 0;
    color: #333;
}
.note a {
    color: #1714b1;
}
/* cart */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .cart_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.container .cart_item img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.container .cart_item .details span.in_stock {
    color: #333;
    font-size: 16px;
    font-style: italic;
    margin-top: 5px;
}
.container .cart_item form.cart_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .cart_item form.cart_form button {
    padding: 5px;
    margin: 10px 0 0 0;
    text-align: center;
    background-color: #462121;
    color: #fff;
    border: none;
    transition: all 0.6s ease;
}
.container .cart_item form.cart_form button:hover {
    background-color: #e65c00;
    cursor: pointer;
}
.dashboard_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    margin: 15px 0;
}
.dashboard_container #aside {
    width: 20%;
    background-color: #f8f8f8;
    padding: 20px;
}
.dashboard_container #aside .logo {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-right: 15px;
}
.dashboard_container #aside .profile_info {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    vertical-align: middle;
}
.dashboard_container #aside .profile_info  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.dashboard_container #aside .aside_links {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
}
.dashboard_container #aside .aside_links a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    padding: 20px 5px;
    transition: all 0.6s ease;
}
.dashboard_container #aside .aside_links a.active, a:hover {
    background-color: #ccc;
}
.dashboard_container main {
    width: 75%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}
.dashboard_container main .main_container {
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px;
    position: relative;
}
.dashboard_container main .main_container .main_details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}
.dashboard_container main .main_container .main_details .greetings {
    font-size: 30px;
}
.dashboard_container main .main_container .overview {
    padding: 10px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.dashboard_container main .main_container .overview .column {
    width: 25%;
}
.dashboard_container main .main_container .overview .column h4 {
    margin-bottom: 5px;
    color: #1714b1;
}
.dashboard_container main .main_container .overview .column span {
    font-size: 20px;
}
.dashboard_container main .main_container .sales_message {
    width: 100%;
    margin: 10px 0;
}
.dashboard_container main .main_container .sales_message .items_message {
    font-size: 18px;
    margin: 10px 0;
}
.dashboard_container main .main_container .sales_message .items_message a {
    color: #0d0b7a;
    font-size: 20px;
}
.dashboard_container main .main_container .add_page {
    margin: 15px 0;
    font-size: 18px;
    text-align: center;
}
.dashboard_container main .main_container .add_page button {
    padding: 5px 10px;
    background-color: #1714b1;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dashboard_container main .main_container .add_page button:hover {
    background-color: #0d0b7a;
}
.dashboard_container main .main_container table {
    width: 100%;
    border-collapse: collapse;
}
.dashboard_container main .main_container table tr {
    vertical-align: middle;
    text-align: center;
}
.dashboard_container main .main_container table tr:nth-child(even) {
    background-color: white;
}
.dashboard_container main .main_container table tr th {
    padding: 10px 0;
    font-size: 20px;
}
.dashboard_container main .main_container table tr td {
    padding: 10px 0;
    font-size: 16px;
}
.dashboard_container main .main_container table tr td a {
    color: green;
}
.dashboard_container main .main_container table tr td a.danger {
    color: red;
}
.dashboard_container main .main_container .setting_icon {
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
}
.dashboard_container main .main_container .setting_icon span{
    margin-right: 10px;
    font-weight: bold;
}
.dashboard_container main .main_container .details_container form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.dashboard_container main .main_container .details_container form input, form select {
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
}
.dashboard_container main .main_container .details_container form button {
    padding: 10px;
    background-color: #1714b1;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dashboard_container main .main_container .details_container form button:hover {
    background-color: #0d0b7a;
}
.logout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}
.logout .links_log a {
    color: white;
    background-color: #1714b1;
    padding: 10px;
    text-decoration: none;
    transition: all 0.6s ease;
}
.logout .links_log a:hover {
    background-color: #0d0b7a;
}
.logout .links_log a:nth-child(2) {
    background-color: #ccc;
    margin-left: 30px;
}
.logout .links_log a:nth-child(2):hover {
    background-color: #666;
}
.side {
    display: none;
}
@media screen and (max-width: 850px) {
    .side {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 30px; 
        background-color: #1714b1;
        color: white;
        position: fixed;
        bottom: 350px;
        right: 0;
        margin-right: 50px;
        width: 50px;
        text-align: center;
        height: 50px;
        transition: all 0.6s ease;
        z-index: 99999;
    }
    .side:hover {
        background-color: #0d0b7a;
        cursor: pointer;
    }
    #close {
        display: none;
    }
    .banner {
        height: 70vh;
    }
    .banner .banner_text {
    bottom: 70px;
    left: 20px;
}
.banner .banner_text h1 {
    text-align: left;
    font-size: 25px;
}
.banner .banner_text p {
    font-size: 17px;
    max-width: 400px;
}
h1 {
    font-size: 30px;
}
.category a {
    font-size: 18px;
}
.items .item {
    flex: 45%;
    height: 65vh;
    margin: 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}
.search form input {
    width: 300px;
}
.dashboard_container #aside {
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -450px;
    z-index: 9999;
    transition:  left 1s ease;
}
.dashboard_container main {
    width: 100%;
    margin-left: 0;
}
.dashboard_container main .main_container .main_details .greetings {
    font-size: 20px;
    margin-right: 40px;
}
.dashboard_container main .main_container .main_details .year_joined {
    font-size: 18px;
}
.dashboard_container main .main_container .overview {
    padding: 10px 20px;
}
.dashboard_container main .main_container .overview .column {
    width: 45%;
    margin-bottom: 10px;
}
.dashboard_container main .main_container .sales_message .items_message {
    font-size: 16px;
}
.dashboard_container main .main_container table tr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.dashboard_container main .main_container table tr th {
    padding: 10px 0;
    font-size: 20px;
}
.dashboard_container main .main_container table tr td {
    padding: 10px 0;
    font-size: 18px;
}
.container {
    width: 100%;
    padding: 10px;
}
.container .cart_item {
    flex-direction: column;
}
.container .cart_item img {
    width: 300px;
    height: 300px;
    object-fit: contain;
}
h2 {
    margin: 10px 0;
}
p {
    margin: 5px 0;
    font-size: 20px;
}
}

@media screen and (max-width: 450px) {
    .items .item {
    flex: 100%;
    margin: 10px 0;
}
.footer {
    flex-direction: column;
}
}